/* Body */
body {
    background-color: lightgray;
    color: black;
}
/* Header */
header{
    background-color: darkolivegreen;
    color: aliceblue;
    width: 100%;
}
/* Footer */
footer {
    background-color: black;
    color: lightgray;
    text-align: justify;
    
}

footer ul {
    list-style-type: none;
}

footer li {
    display: inline;
    justify-content: center;
    margin: 5px;
}

footer a {
    color: lightgrey;
    text-decoration: none;
}