<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/main.css">
    <title>Nodemon Web | Home</title>
</head>
<body>
    <header>
        <h1>Node.js / Express Website</h1>
    </header>
    <section>
        <h3>NodeJS</h3>
        <p>
            Node JS is a virtual runtime for Javascript. 
            Unlike regular Javascript Node does not run on the browser but
            rather the back-end server of a website. Node is a asynchronous
            runtime, meaning it runs using a single thread instead of multiple
            threads which allow it to run faster than other back-end environements.
            Also being written in Javascript allows front-end developers to get 
            in the fun of working with back-end data. :)
        </p>
        <h3>Express</h3>
        <p>
            Express is an open source framework downloadable with the help of npm (Node Package Manager).
            This allows for even quicker deployment of pages and data that is useful
            to clients and developers alike.
        </p>
        <footer>
            <h5>Contact me or check out other projects</h5>
            <div>
                <p>Phone: 919 901 7953</p>
                <a href="https://github.com/datboimoi">Github</a>
                <a href="https://www.linkedin.com/in/moisesrios">Linkedin</a>
            </div>
        </footer>
    </section>
</body>
</html>